.wrapper {
    display: contents;
    position: relative;
    cursor: none;
}

.cursor {
    position: absolute;
    pointer-events: none;
    opacity: 0;
}

.wrapper:hover .cursor {
    opacity: 1;
}